@import "compass/css3/";
@import "variables";


// Blog node page.
.page-type-blog {
	.block-header.animated {
		margin-top: 20px;
	}

	.row-content {
		padding: 50px;
		margin-bottom: 30px;
		background-color: white;
		box-shadow: 0 0 34px rgba(0, 0, 0, 0.5);
	}

	// Fields.
	.field-name-field-blog-image {
		img {
			width: 100%;
		}
	}

	.blog_usernames_blog a {
		display: none;
	}

	.field-name-body {
		color: $text-color;
	}

	// Comment.
	h2.comment-form {
		font-size: 24px;
		text-transform: capitalize;
		font-family: $font-Helvetica;
	}

	.form-item-name label, .form-item-subject label {
		display: block;
	}

	.filter-wrapper, #edit-preview {
		display: none;
	}
}


@media screen and (max-width: 649px) {
	// Blog node page.
	.page-type-blog {
		.row-content {
			padding: 14px;
		}
	}
}




