@import "compass/css3/";
@import "variables";


// Order Now.
.feedback-button {
	visibility: hidden;
}

.order-now {
	position: fixed;
	top: 46%;
	z-index: 10;
	padding: 0;
}

#md-slider-1-block {
	cursor: pointer;
}

@media screen and (max-width: 453px) {
	.order-now {
		top: 9%;
	}
}

// Orphan page.
.page-node-217 {
	#middle {
		background-color: #fff;
	}

	.block-header {
		display: none;
	}

	.like-us-on-facebook a {
		color: #fff;
	}

	.home-page a {
		text-decoration: underline;
	}
}

// Header.
#header .header-inner {
	max-width: 86%;
}

#mainmenu {
	li a {
		margin: 14px 8px;
		padding: 8px;
	}

	#more-link {
		color : #ffffff;
		cursor : default;
		padding-right : 26px;
		background : #006BB6 url('/sites/all/themes/md_leaders/img/drop-down.png') no-repeat 53px 11px / 21px auto;
	}

	#more-list {
		background-color: #fff;
		left: auto;
		padding: 7px;
		right: -19%;
		top: 76px;

		a {
			margin: 0;
			padding: 6px;
		}
	}
}

@media screen and (min-width: 992px) {
	#mainmenu {
		overflow: visible !important;
	}
}

@media screen and (max-width: 991px) {
	#mainmenu {
		padding: 0 12px;
	}
}

// Footer.
.page-footer {
	background-color: #004b96;
}

#block-menu-menu-footer {
	margin: 14px 0;

	>h2 {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		width: 31%;
		text-align: center;
		margin: 2px 10px;
		padding: 3px 10px;
		display: inline-block;
		vertical-align: middle;
	}

	li:hover {
		background-color: #fff;

		a {
			color: black;
		}
	}

	a {
		color: #fff;
		font-family: verdana;
		font-size: 13px;
		display: inline-block;
	}
}

@media screen and (max-width: 1210px) {
	#block-menu-menu-footer {

		li {
			width: 28%;
		}
	}
}

@media screen and (max-width: 978px) {
	#block-menu-menu-footer {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 588px) {
	#block-menu-menu-footer {
		.container {
			padding: 0;
		}

		li {
			margin: 0;
			width: 49%;
		}

		a {
			font-size: 10px;
		}
	}
}

// Sitemap.
.page-type-page .tree {
	background-color:#2C3E50;
	color:#46CFB0;
	padding-bottom: 20px;
	padding-top: 20px;

	li {
		margin-bottom: 5px;
	}

	li > a {
		padding: 6px;
		border-radius: 4px;
	}

	li > span {
		font-size: 21px;
		padding: 0 18px 24px 7px;
		border-radius: 4px;
	}

	li a {
		color:#46CFB0;
		text-decoration: none;
		line-height: 20pt;
		border-radius: 4px;
	}

	li a:hover {
		background-color: #34BC9D;
		color: #fff;
	}
}