@import "compass/css3/";
@import "variables";


// Page event list.
.page-you-are-the-key-events {
	 background-color: #f7f7f7;

	// View event list.
	.view-event-list {
		margin: 56px 0 27px;

		.view-page-title{
			margin-top: 72px;
		}

		.views-row {
			width: 30.9%;
			margin: 10px;
			border: 1px solid #eee;
			vertical-align: top;
			display: inline-block;
			background-color: #fff;
		}

		.views-field-title {
			margin: 14px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			a {
				color: $text-color;
				font-size: 15px;
				font-weight: bold;
			}

			a:hover {
				color: #00bac4;
			}
		}

		.views-field-body {
			color: $text-color;
			margin: 8px 14px;

			span {
				display: inline-block;
			}
		}

		.views-field-field-event-location {
			margin-bottom: 11px;
			margin-left: 14px;

			.location {
				margin-bottom: 0;
			}

			.adr {
				color: $text-color;
				font-size: 15px;
				margin-bottom: 6px;
				padding-left: 30px;
				background: url("/sites/all/themes/md_leaders/img/map-marker.png") no-repeat -3px 0px / 26px auto;				

				.country-name, .street-address, .region {
					display: inline-block;
				}
			}

			.map-link {
				display: none;
			}
		}

		.views-field-field-date-time {
			color: $text-color;
			font-size: 14px;
			margin-left: 14px;
			margin-bottom: 11px;
			padding-left: 30px;
			background: url("/sites/all/themes/md_leaders/img/analog-clock.png") no-repeat 1px 4px / 19px auto;

			.date-display-range {
				display: inline-block;
			}
		}

		.views-field-field-register {
			margin: 14px;
			text-align: right;
			text-transform: uppercase;
		}

		.free-text {
			color: #5b5b5b;
			font-size: 20px;
			margin-right: 20px;
		}

		.register-link {
			a {
				background-color: #00cc52;
				border-radius: 3px;
				color: #fff;
				display: inline-block;
				font-size: 15px;
				padding: 7px 14px;
				font-family: $font-Helvetica;
			}
		}
	}
}


@media screen and (max-width: 991px) {
	// Page event list.
	.page-you-are-the-key-events {
		// View event list.
		.view-event-list {
			.views-row {
				width: 100%;
				margin: 10px 0;
			}
		}
	}
}


// Event node page.
.page-type-content-type-event {
	.block-header.animated {
		margin-top: 20px;
	}

	.row-content {
		color: $text-color;
		padding: 50px;
		margin-bottom: 30px;
		background-color: white;
		box-shadow: 0 0 34px rgba(0, 0, 0, 0.5);
	}

	// Fields.
	.share-register {
		text-align: right;
		margin-bottom: 40px;
	}

	.free-text {
		color: #5b5b5b;
		font-size: 20px;
		margin-right: 20px;
	}

	.register-link {
		a {
			text-transform: uppercase;
			background-color: #00cc52;
			border-radius: 3px;
			color: #fff;
			display: inline-block;
			font-size: 16px;
			padding: 8px 17px;
			font-family: $font-Helvetica;
		}
	}

	.field-name-field-date-time {
		color: $text-color;
		font-size: 16px;
		margin-bottom: 11px;
		padding-left: 30px;
		background: url("/sites/all/themes/md_leaders/img/analog-clock.png") no-repeat 1px 4px / 19px auto;

		.date-display-range {
			display: inline-block;
		}
	}

	.field-name-field-event-location {
		.location {
			margin-bottom: 6px;
		}

		.adr {
			color: $text-color;
			font-size: 16px;
			margin-bottom: 6px;
			padding-left: 30px;
			display: inline-block;
			background: url("/sites/all/themes/md_leaders/img/map-marker.png") no-repeat -3px 0px / 26px auto;				

			.country-name, .street-address, .region {
				display: inline-block;
			}
		}

		.map-link {
			display: inline-block;

			a {
				color: #1d1d1d;
				font-family: $font-Helvetica;
				font-size: 16px;
				margin-left: 4px;
				padding: 5px 8px;
				@include border-radius(3px);
			}

			a:hover {
				color: #ffffff;
				background-color: #303030;
			}
		}
	}

	.field-name-body {
		text-align: justify;
	}
}


@media screen and (max-width: 649px) {
	// Event node page.
	.page-type-content-type-event {
		.row-content {
			padding: 14px;
		}
	}
}