@import "compass/css3/";
@import "variables";


// Photo gallery view.
.view-photo-gallery {
	margin: 50px 0;

	.views-row {
		border: 3px solid #dfe6e7;
		cursor: pointer;
		display: inline-block;
		margin: 10px;
		padding: 1px;
		position: relative;
		width: 31%;
		vertical-align: top;
	}

	.views-field-field-album {
		img {
			width: 100%;
		}
	}

	.views-field-nothing {
		position: absolute;
		top: 60%;
		font-family: sans-serif;
		margin: 0 18px 18px 18px;

		.title a {
			color: #ffffff;
			font-size: 30px;
			font-weight: bolder;
		}

		.title a::first-letter {
			text-transform: uppercase;
		}

		.description {
			margin-top: 12px;

			a {
				color: #ffffff;
				font-size: 20px;
			}
		}

		.description a::first-letter {
			text-transform: uppercase;
		}
	}
}