.locker-section {
	overflow: auto;
	.locker {
		width: 50%;
    float: left;
		.locker-upper {
			margin: auto;
    	width: 25%;
    	position: relative;
    	top: 50px;
		}
		.locker-lower {
			width: 30%;
    	margin: auto;
    	position: relative;
		}
	}
	.locker-play {
		width: 50%;
    float: left;
	}
}

#combination-lock-form .combination-lock-answer {
  display: none;
}
