@import "compass/css3/";
@import "variables";

// Official partner page.
.page-social-selling-official-partners {
	background-color: #f0f0f0;

	.view-partners-list {
		.block-header {
			margin-bottom: 45px;
			margin-top: 52px;
		}

		.view-content {
			width: 90%;
			margin: auto;
			margin-bottom: 60px;
		}

		.views-row {
			width: 48.8%;
			display: inline-block;
			vertical-align: top;
			background-color: #fff;
			border-right: 10px solid #006bb6;
		}

		.views-row:first-of-type {
			margin-right: 2%;
		}

		.views-field-field-partner-logo {
			float: left;
			margin-right: 10px;
		}

		.views-field-title {
			font-size: 24px;
			margin: 10px;
		}

		.views-field-body {
			margin: 10px;	
			text-align: justify;

			p {
				margin-bottom: 0;
			}
		}

		.views-field-view-node {
			text-align: right;
			margin-bottom: 10px;
			margin-right: 10px;

			a {
				background-color: #393939;
				color: #fff;
				display: inline-block;
				font-size: 12px;
				line-height: 1;
				padding: 15px 20px;
				text-transform: uppercase;
			}

			a:hover {
				color: #fff;
				background-color: #eb7000;
			}
		}
	}
}

@media screen and (max-width: 1029px) {
	.page-social-selling-official-partners {
		.view-partners-list {
			.views-row {
				width: 100%;
			}

			.views-row:first-of-type {
				margin-bottom: 30px;
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.page-social-selling-official-partners {
		.view-partners-list {
			.views-row {
				border-right: none;
				border-bottom: 10px solid #006bb6;
			}

			.views-field-field-partner-logo {
				float: none;
				text-align: center;

				.field-content {
					margin: 20px auto;
					width: 170px;
				}
			}
		}
	}
}