@import "compass/css3/";
@import "variables";

// Official partner page.
.page-you-are-the-key-books-official-partners {
	background-color: #f0f0f0;

	.view-partners-list {
		.block-header {
			margin-bottom: 45px;
			margin-top: 52px;
		}

		.view-content {
			width: 90%;
			margin: auto;
			margin-bottom: 60px;
		}

		.views-row {
			width: 48.8%;
			display: inline-block;
			vertical-align: top;
			background-color: #fff;
			border-right: 10px solid #006bb6;
		}

		.views-row:first-of-type {
			margin-right: 2%;
		}

		.views-field-field-partner-logo {
			float: left;
			margin-right: 10px;
		}

		.views-field-title {
			font-size: 24px;
			margin: 10px;
		}

		.views-field-body {
			margin: 10px;	
			text-align: justify;

			p {
				margin-bottom: 0;
			}
		}

		.views-field-view-node {
			@extend %read-more;
		}
	}
}

@media screen and (max-width: 1029px) {
	.page-you-are-the-key-books-official-partners {
		.view-partners-list {
			.views-row {
				width: 100%;
			}

			.views-row:first-of-type {
				margin-bottom: 30px;
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.page-you-are-the-key-books-official-partners {
		.view-partners-list {
			.views-row {
				border-right: none;
				border-bottom: 10px solid #006bb6;
			}

			.views-field-field-partner-logo {
				float: none;
				text-align: center;

				.field-content {
					margin: 20px auto;
					width: 170px;
				}
			}
		}
	}
}


// Official partner node.
.page-type-official-partners {
	.block-header {
		margin-top: 20px;
	}

	.row-content {
		padding: 50px 50px 30px;
		margin-bottom: 30px;
		background-color: white;
		box-shadow: 0 0 34px rgba(0, 0, 0, 0.5);
	}

	// Fields.
	.field-name-field-partner-logo {
		float: left;
		margin: 0 50px 50px 0;
	}
}