@import "compass/css3/";
@import "variables";


// Page testimonials.
.page-social-selling-testimonials {
	// View testimonials.
	.view-testimonial-list {
		width: 1170px;
		margin: 50px auto;
		text-align: center;

		.views-row {
			width: 30.6%;
			border: 1px solid #dfe6e7;
			padding: 20px 22px;
			margin: 10px;
			vertical-align: top;
			display: inline-block;
		}

		.views-field-field-testimonial-image {
			img {
				@include border-radius(50%);
			}
		}

		.views-field-title {
			margin-bottom: 2px;
			padding-top: 12px;

			a {
				color: #fe8f8c;
				font-size: 16px;
				font-weight: bold;
			}
		}

		.views-field-field-designation, .views-field-field-company {
			color: #fe8f8c;
			font-size: 13px;
			font-family: $font-open;
		}

		.views-field-field-designation {
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		.views-field-body {
			color: #34495e;
			font-size: 17px;
			font-style: italic;
			line-height: 26px;
			height: 92px;
			overflow: hidden;
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 1200px) {
	// Page testimonials.
	.page-social-selling-testimonials {
		// View testimonials.
		.view-testimonial-list {
			width: 970px;

			.views-field-body {
				height: 100px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	// Page testimonials.
	.page-social-selling-testimonials {
		// View testimonials.
		.view-testimonial-list {
			width: 750px;

			.views-row {
				width: 100%;
				margin: 10px 0;
			}

			.views-field-body {
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 786px) {
	// Page testimonials.
	.page-social-selling-testimonials {
		// View testimonials.
		.view-testimonial-list {
			width: 96%;
		}
	}
}