.page-type-blog .block-header.animated {
  margin-top: 20px;
}
.page-type-blog .row-content {
  padding: 50px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.5);
}
.page-type-blog .field-name-field-blog-image img {
  width: 100%;
  max-height: 500px;
}
.page-type-blog .blog_usernames_blog a {
  display: none;
}
.page-type-blog .field-name-body {
  color: #999999;
}
.page-type-blog h2.comment-form {
  font-size: 24px;
  text-transform: capitalize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-type-blog .form-item-name label, .page-type-blog .form-item-subject label {
  display: block;
}
.page-type-blog .filter-wrapper, .page-type-blog #edit-preview {
  display: none;
}

@media screen and (max-width: 649px) {
  .page-type-blog .row-content {
    padding: 14px;
  }
}
