.page-blog-list .view-blog-list {
  margin: 70px 0;
}
.page-blog-list .view-blog-list .views-row {
  width: 30.9%;
  margin: 10px;
  border: 1px solid #eee;
  vertical-align: top;
  display: inline-block;
}
.page-blog-list .view-blog-list .views-field-title {
  margin: 20px 14px 0;
}
.page-blog-list .view-blog-list .views-field-title a {
  color: #999999;
  font-size: 15px;
  font-weight: bold;
}
.page-blog-list .view-blog-list .views-field-name {
  margin: 8px 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d9d9d9;
}
.page-blog-list .view-blog-list .post-date {
  color: #999999;
  font-size: 14px;
  margin-right: 10px;
  padding-left: 18px;
  background: url("/sites/all/themes/md_leaders/img/blog-date.png") no-repeat -1px 1px;
}
.page-blog-list .view-blog-list .username {
  color: #999999;
  font-size: 14px;
  display: inline-block;
  padding-left: 18px;
  background: url("/sites/all/themes/md_leaders/img/blog-username.png") no-repeat 0 4px;
}
.page-blog-list .view-blog-list .username:first-letter {
  text-transform: uppercase;
}
.page-blog-list .view-blog-list .views-field-body {
  height: 170px;
  color: #999999;
  margin: 24px 14px;
}

@media screen and (max-width: 993px) {
  .page-blog-list .view-blog-list .view-content {
    width: 676px;
  }
  .page-blog-list .view-blog-list .views-row {
    width: 100%;
    margin: 10px 0;
  }
}
@media screen and (max-width: 717px) {
  .page-blog-list .view-blog-list .view-content {
    width: 100%;
  }
}
