body.page-social-selling-case-studies {
  background: #f0f0f0;
}

.page-social-selling-case-studies .view-page-title {
  margin-top: 52px;
  margin-bottom: 45px;
}
.page-social-selling-case-studies .views-field-field-case-study-image {
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 460px) {
  .page-social-selling-case-studies .views-field-field-case-study-image {
    float: none;
    margin: auto;
    margin-bottom: 20px;
    width: 170px;
    margin-top: 20px;
  }
}
.page-social-selling-case-studies .view-content {
  width: 90%;
  margin: auto;
}
.page-social-selling-case-studies .views-field-view-node {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
.page-social-selling-case-studies .views-field-view-node a {
  background-color: #393939;
  font-size: 12px;
  font-weight: normal;
  padding: 15px 20px;
  color: #fff;
  border: none;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.page-social-selling-case-studies .views-field-view-node a:hover {
  background: #EB7000;
  color: #FFF !important;
}
.page-social-selling-case-studies .views-row {
  background: white;
  border-right: 10px solid #006bb6;
  margin-bottom: 30px;
  clear: both;
  overflow: auto;
}
.page-social-selling-case-studies .views-row.views-row-last {
  margin-bottom: 60px;
}
@media screen and (min-width: 1030px) {
  .page-social-selling-case-studies .views-row {
    width: 48%;
    float: left;
    clear: none;
  }
}
@media screen and (max-width: 460px) {
  .page-social-selling-case-studies .views-row {
    border-right: 0 none;
    border-bottom: 10px solid #006bb6;
  }
}
@media screen and (min-width: 1030px) {
  .page-social-selling-case-studies .views-row-1 {
    margin-right: 2%;
  }
}
.page-social-selling-case-studies .views-field-title {
  font-size: 24px;
  margin: 10px;
}
.page-social-selling-case-studies .views-field-body {
  margin: 10px;
}

.page-type-case-study .block-header {
  margin-top: 30px;
}
.page-type-case-study .row-content {
  background-color: white;
  padding: 50px;
  font-family: arial;
  font-weight: 300;
  color: #333;
  font-size: 14px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 34px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 34px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 34px;
}
@media screen and (max-width: 440px) {
  .page-type-case-study .row-content {
    padding: 20px;
  }
}
.page-type-case-study .field-name-field-case-study-image {
  float: left;
  margin: 0 50px 50px 0;
}
@media screen and (max-width: 440px) {
  .page-type-case-study .field-name-field-case-study-image {
    float: none;
    display: inline-block;
    width: 100%;
    margin: 0 0 30px 0;
  }
  .page-type-case-study .field-name-field-case-study-image .field-item {
    text-align: center;
  }
}
.page-type-case-study .field-name-field-case-study-image a {
  display: inline-block;
  width: 260px;
}
@media screen and (max-width: 720px) {
  .page-type-case-study .field-name-field-case-study-image a {
    width: 200px;
  }
}
.page-type-case-study .field-name-field-case-study-image img {
  width: 100%;
  height: auto;
}

.page-type-page .grey_section h2.block-header .title {
  padding-top: 15px;
}
.page-type-page .grey_section h2.block-header .sub-heading {
  font-size: 0.60em;
  padding-top: 12px;
}
