.feedback-button {
  visibility: hidden;
}

.order-now {
  position: fixed;
  top: 46%;
  z-index: 10;
  padding: 0;
}

#md-slider-1-block {
  cursor: pointer;
}

@media screen and (max-width: 453px) {
  .order-now {
    top: 9%;
  }
}
.page-node-217 #middle {
  background-color: #fff;
}
.page-node-217 .block-header {
  display: none;
}
.page-node-217 .like-us-on-facebook a {
  color: #fff;
}
.page-node-217 .home-page a {
  text-decoration: underline;
}

#header .header-inner {
  max-width: 86%;
}

#mainmenu li a {
  margin: 14px 8px;
  padding: 8px;
}
#mainmenu #more-link {
  color: #ffffff;
  cursor: default;
  padding-right: 26px;
  background: #006BB6 url("/sites/all/themes/md_leaders/img/drop-down.png") no-repeat 53px 11px/21px auto;
}
#mainmenu #more-list {
  background-color: #fff;
  left: auto;
  padding: 7px;
  right: -19%;
  top: 76px;
}
#mainmenu #more-list a {
  margin: 0;
  padding: 6px;
}

@media screen and (min-width: 992px) {
  #mainmenu {
    overflow: visible !important;
  }
}
@media screen and (max-width: 991px) {
  #mainmenu {
    padding: 0 12px;
  }
}
.page-footer {
  background-color: #004b96;
}

#block-menu-menu-footer {
  margin: 14px 0;
}
#block-menu-menu-footer > h1 {
  display: none;
}
#block-menu-menu-footer ul {
  margin: 0;
  padding: 0;
}
#block-menu-menu-footer li {
  width: 31%;
  text-align: center;
  margin: 2px 10px;
  padding: 3px 10px;
  display: inline-block;
  vertical-align: middle;
}
#block-menu-menu-footer li:hover {
  background-color: #fff;
}
#block-menu-menu-footer li:hover a {
  color: black;
}
#block-menu-menu-footer a {
  color: #fff;
  font-family: verdana;
  font-size: 13px;
  display: inline-block;
}

@media screen and (max-width: 1210px) {
  #block-menu-menu-footer li {
    width: 28%;
  }
}
@media screen and (max-width: 978px) {
  #block-menu-menu-footer {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 588px) {
  #block-menu-menu-footer .container {
    padding: 0;
  }
  #block-menu-menu-footer li {
    margin: 0;
    width: 49%;
  }
  #block-menu-menu-footer a {
    font-size: 10px;
  }
}
.page-type-page .tree {
  font-family: verdana;
}
.page-type-page .tree ul {
  margin-top: 9px;
}
.page-type-page .tree li {
  margin-bottom: 10px;
}
.page-type-page .tree li span {
  font-size: 21px;
  padding: 0 20px 26px 4px;
  border-radius: 4px;
}
.page-type-page .tree li.tree-opened > .toggler:hover, .page-type-page .tree li.tree-closed > .toggler:hover {
  color: #156354;
  border-color: #156354;
}
.page-type-page .tree li a {
  padding: 5px;
  border-radius: 4px;
  color: #156354;
  text-decoration: none;
  border-radius: 4px;
  font-size: 15px;
}
.page-type-page .tree li a:hover {
  background-color: #156354;
  color: #fff;
}

.page-node h1.block-header .title {
  padding-top: 15px;
}
.page-node h1.block-header .sub-heading {
  font-size: 0.6em;
  padding-top: 12px;
}

.mobile.banner-image {
  display: none;
}

.desktop.banner-image {
  display: block;
}

@media screen and (max-width: 767px) {
  .mobile.banner-image {
    display: block;
  }

  .desktop.banner-image {
    display: none;
  }
}
