.feedback-button {
  visibility: hidden;
}

.order-now {
  left: -49px;
  padding: 10px 25px;
  position: fixed;
  top: 46%;
  transform: rotate(-90deg);
  z-index: 10;
  background-color: #FFD500;
}
.order-now a {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "lato", arial;
}

#md-slider-1-block {
  cursor: pointer;
}

@media screen and (max-width: 453px) {
  .order-now {
    padding: 8px 19px;
  }
}
.page-node-217 #middle {
  background-color: #fff;
}
.page-node-217 .block-header {
  display: none;
}
.page-node-217 .like-us-on-facebook a {
  color: #fff;
}
.page-node-217 .home-page a {
  text-decoration: underline;
}
