.view-photo-gallery {
  margin: 50px 0;
}
.view-photo-gallery .views-row {
  border: 3px solid #dfe6e7;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 1px;
  position: relative;
  width: 31%;
  vertical-align: top;
}
.view-photo-gallery .views-field-field-album img {
  width: 100%;
}
.view-photo-gallery .views-field-nothing {
  position: absolute;
  top: 60%;
  font-family: sans-serif;
  margin: 0 18px 18px 18px;
}
.view-photo-gallery .views-field-nothing .title a {
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
}
.view-photo-gallery .views-field-nothing .title a::first-letter {
  text-transform: uppercase;
}
.view-photo-gallery .views-field-nothing .description {
  margin-top: 12px;
}
.view-photo-gallery .views-field-nothing .description a {
  color: #ffffff;
  font-size: 20px;
}
.view-photo-gallery .views-field-nothing .description a::first-letter {
  text-transform: uppercase;
}
